<div class="jumbotron center">
     <h1>Gantis helps companies grow big.</h1>
     <% if user_signed_in? %>
          Welcome <% current_user.email %>
     <% else %>
       <p>
     We help great people solving big problems whose solutions deliver tremendous opportunities for growth. 
       </p>
  <% end %>  
</div>